* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* READ IN HK GROTESK */
@font-face {
    font-family: 'hk-bold';
    src: url(../files/fonts/HKGrotesk-Bold.woff) format('woff');
    src: url(../files/fonts/HKGrotesk-Bold.woff2) format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: 'hk-regular';
    src: url(../files/fonts/HKGrotesk-Regular.woff) format('woff');
    src: url(../files/fonts/HKGrotesk-Regular.woff2) format('woff2');
}

html {
    margin: none;
    padding: none;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
}

/* TEXT STYLES */
.landing-text {
    font-family: 'lust-display', serif;
    font-size: 8.0em;
    font-weight: 400;
}

h1 {
    font-family: 'hk-bold', sans-serif;
    font-size: 5.0em;
    margin-top: 3.0em !important;
    margin: 0 auto;
    padding: 0;
}

p {
    font-family: 'hk-regular', sans-serif;
    font-size: 1.5em;
}

a {
    color: white;
}

a:hover {
    color: black;
}

/* GLOBAL COLORS */
.white {
    color: white;
}

/* GLOBAL OPACITY */
.eighty {
    opacity: 0.8;
}